* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
img:nth-of-type(1) {
    display: none;
}
body {
    background-image: none;
    opacity: 1;
    background-repeat: no-repeat;
    max-width: 1285px;
    min-height: 1566px;
    font-size: 2rem;
    color: blue;
}
.container {
    display: grid;
    grid-template-rows: minmax(30px, auto) minmax(117px, auto) minmax(60px, auto) minmax(428px, auto) minmax(915px, auto);
    grid-template-columns: minmax(100px, 270px) minmax(100px, 212px) minmax(100px,463px) minmax(100px, 335px);
    grid-template-areas:
    "one one one one"
    "two six six six"
    "three three three three"
    "four four seven eight"
    "five five five eight";
}
.container > * {
    border: 2px dashed blue;
}
@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
    }
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100%;
    font-size: 15PX;
    font-family: Arial;
    font-weight: 700;
    line-height: 60%;
    flex-direction: column;
    background-color: #007bb6;
}
li {
    padding: 30px;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
    background: #007bb6;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}